@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@theme {
  --color-move: #d9176c;
  --color-creamy: #f5f5f5;
  --color-Yellow: #f9bf29;
  --font-open: "Open Sans", sans-serif;
}
